@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  min-height: 100vh;
}

#bg {
  height: 626px;
  background-color: #fff;
  border-bottom-left-radius: 13%;
}

header {
  background-color: #fff;
}

#phone {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  flex-wrap: wrap;
  align-content: center;
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #6070ff;
}

.humbarger {
  width: 24px;
  height: 24px;
}

#bio {
  height: 604px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 13%;
  padding: 114px 24px;
}

.title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700px;
  margin-bottom: 12px;
}

.about {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.social-title {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #7f8cff;
}

.social {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  width: 170.17px;
  height: 20px;
}

/* works */
#works {
  padding-top: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

#gridlayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 88px;
}

.worksContainer {
  background-color: #fff;
  box-sizing: border-box;
  min-height: 552px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.worksImg {
  height: 220px;
  width: 100%;
  border-radius: 8px;
}

.worksBodytitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 12px;
}

.frame2 {
  margin-bottom: 12px;
}

.frame2 .name {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 12px;
  margin-left: 12px;
  background-color: #c1c7d0;
  border-radius: 100%;
}

.role,
.year {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.workDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.worksCategories {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
}

.worksCategories li {
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 8px;
}

.worksBtn {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
}

/* about me */
#aboutMe {
  margin-top: 114px;
  background: #fff;
  padding-top: 114px;
  padding-right: 24px;
  padding-left: 24px;
  border-top-right-radius: 70px;
  padding-bottom: 113.85px;
}

#btnResume {
  margin-top: 22px;
}

#aboutSocail {
  margin-left: 15px;
}

.languages,
.frameworks,
.skill {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  padding-right: 30px;
}

.languages,
.frameworks {
  margin-top: 60px;
  margin-bottom: 36px;
}

.skill {
  margin-top: 24px;
  margin-bottom: 23px;
}

.skillList {
  list-style-type: none;
}

.skillList li {
  display: flex;
  align-items: center;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px;
}

.skillList li img {
  padding-left: 12px;
  padding-right: 16px;
}

.line {
  background-color: #dfe1e6;
}

/* buttons */
#contact-form button[type=submit]:hover,
button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

#contact-form button[type=submit]:focus,
button:focus {
  background: #2230d2;
  color: #fff;
}

#contact-form button[type=submit]:disabled,
button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

/* contact form */
#contactForm-wrapper {
  background-color: #FFFFFF;
}

#contact-form {
  height: 779px;
  background-color: #6070ff;
  background-image: url('/images/contact-form.png');
  background-size: 265px 709px;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  background-position-y: 21px;
  border-top-left-radius: 100px;
  text-align: center;
}

#contact-form h1 {
  padding-top: 103px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

#contact-form p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ebebff;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
  margin-bottom: 87px;
}

#contact-form input[type=text],
#contact-form input[type=email] {
  height: 48px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  color: #172b4d;
  padding-left: 16px;
}

#contact-form form {
  margin-left: 24px;
  margin-right: 24px;
}

#contact-form textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #b3bac5;
  height: 140px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-top: 15px;
  padding-left: 16px;
}

#contact-form button[type=submit] {
  width: 142px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
  color: #6070FF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  margin-top: 22px;
}